
body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px 10px; /* 全体的な内側の余白を調整 */
    margin: 0 auto; /* 上下のマージンを0、左右をautoにして中央揃え */
    background-color: #f4f4f4;
    color: #333;
    min-width: 760px; /* 体の最小幅を設定 */
}

.link {
    color: blue;
    /* リンクの色を青に設定 */
    text-decoration: none;
    /* 下線を非表示に設定 */
}

.link:hover {
    text-decoration: underline;
    /* ホバー時に下線を表示 */
}